.container {
    margin-top: 100px;
    margin-bottom: 100px;    
    height: 800px;
    width: 1000px;    
    background-color:olive;
    
}

.card {
    margin-top: 100px;
    padding: 30px;
}

/* .question {
   text-align: center;
   vertical-align: center;

}

h1 {
    text-align: center;
}

#quiztions {
    padding: 30x;
} */